<html>

<head>
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos personalizados -->
    <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>
  
<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">OFICOPYER</span>
    </h1>
  
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home'%}">
                Pedidos, Reparaciones y Transporte
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
                    </li>
                    <li class="nav-item {% if request.path == '/servicios/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item {% if request.path == '/almacen/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'Almacen' %}">Almacén</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contacto/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item {% if request.path|slice:':6' == '/blog/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
                    </li>
                     <li class="nav-item {% if request.path|slice:':7' == '/soporte/' %} active {% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'soporte' %}">soporte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido cambiante -->
    {% block content %}

    <div class="container my-5">
        <h2>Soporte</h2>
        <div class="row">
            <!-- Caja para descargar AnyDesk -->
            <div class="col-md-6 mb-4">
                <a href="https://anydesk.com/es/download" target="_blank" class="btn btn-primary btn-block">
                    Descargar AnyDesk
                </a>
            </div>

            <!-- Caja para ir al centro de descargas de Sharp -->
            <div class="col-md-6 mb-4">
                <a href="https://global.sharp/restricted/print/select.html?view=6" target="_blank" class="btn btn-secondary btn-block">
                    Ir al Centro de Descargas de Sharp
                </a>
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- Footer -->
    <footer class="footer text-center py-5">
        <div class="container">
            <!-- Enlaces sociales -->
            <p class="m-0">
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </p>
            <!-- Enlaces legales -->
            <p class="m-0 mbt">
                <a style="color: black;" href="sample.html" class="link">Política de privacidad</a> ·
                <a style="color: black;" href="sample.html" class="link">Aviso legal</a> ·
                <a style="color: black;" href="sample.html" class="link">Cookies</a>
            </p>
            <!-- Créditos -->
            <p class="m-0 mbt1">&copy; Productos y servicios</p>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>

